.main {
  width: 100%;
  height: 5892px;
  display: block;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: white;
}

.header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  background-color: rgba(200, 175, 133, 1);
  margin-bottom: 25px;
}

.left-side-header {
  height: 100%;
  background-color: rgba(200, 175, 133, 1);
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.right-side-header {
  height: 100%;
  max-width: 700px;
  width: 100%;
  background-color: rgba(200, 175, 133, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.header-text-div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.header-text-div span {
  white-space: nowrap;
}

.header-text {
  color: rgba(13, 15, 71, 1);
  width: auto;
  height: auto;
  position: relative;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
} 

.get-in-touch-div {
  height: 50%;
  position: relative;
  background-color: rgb(216, 190, 145);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.whatsapp-logo {
  width: 33px;
  height: 30px;
  position: relative;
  margin-left: 10px;
}

.ceiling-img-container {
  padding-top: 25px;
  padding-bottom: 25px;

}

.ceiling-img {
  width: 1600px;
  position: relative;
  margin: auto;
}

.search-bar-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: relative;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}

.search-bar {
  height: 118px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-shrink: 1;
  padding: 25px 0px;
}

.search-bar-bg {
  width: 1600px;
  height: 68px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.search-button-bg {
  background-color: rgb(177, 173, 173);
  height: 60%;
  display: flex;
  align-items: center;
  top: 20px;
}

.search-section-1, .search-section-2, .search-section-3, .search-section-4 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  padding: 0px 10px;
}

.search-section-4 {
  display: flex;
  justify-content: center;
}

.search-bar-text {
  top: 9px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: relative;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}

.search-bar-text-small {
  top: 35px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: relative;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}

.search-icon {
  top: 28px;
  left: 1080px;
  width: 14px;
  height: 14px;
  position: absolute;
}

.footer {
  top: 5770px;
  left: -1px;
  width: 100%;
  height: 122px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  /* align-items: flex-start; */
  flex-shrink: 1;
  background-color: rgba(200, 175, 133, 1);
}

.left-side-footer {
  height: 100%;
  padding-left: 75px;
  display: flex;
  align-items: center;
}

.right-side-footer {
  height: 100%;
  max-width: 1700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.footer-logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.reach-us-div {
  height: 100%;
}

.footer-text-bold {
  top: 21.072898864746094px;
  left: 370px;
  color: rgba(0, 0, 0, 0.5);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}
.phone-text, .email-text, .address-text {
  top: 47px;
  left: -65px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}

.phone-text {
  top: 51.018226623535156px;
  left: 405px;
  color: rgba(0, 0, 0, 0.5);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none; 
}

.email-text {
  top: 79.29991912841797px;
  left: 405px;
  color: rgba(0, 0, 0, 0.5);
  width: 237px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}

.address-text {
  top: 51.018226623535156px;
  left: 756px;
  color: rgba(0, 0, 0, 0.5);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}

.right-side-footer span {
  top: 57.11806869506836px;
  left: 1129px;
  color: rgba(0, 0, 0, 0.5);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}

.footer-logo {
  height: 50px;
  position: relative;
}
.phone-icon {
  top: 51.018226623535156px;
  left: 373px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.mail-icon {
  top: 79px;
  left: 373px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.building-icon {
  top: 43px;
  left: 718px;
  width: 24px;
  height: 24px;
  position: absolute;
}