.main {
  width: 100%;
  height: 5892px;
  display: block;
  /* flex-direction: column; */
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  /* background-color: rgba(200, 175, 133, 1); */
  background-color: white;
}

.header {
  top: 0px;
  left: 0px;
  /* width: 1512px; */
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  background-color: rgba(200, 175, 133, 1);
  margin-bottom: 25px;
}

.left-side-header {
  height: 100%;
  background-color: rgba(200, 175, 133, 1);
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.right-side-header {
  height: 100%;
  max-width: 700px;
  width: 100%;
  background-color: rgba(200, 175, 133, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.header-text-div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.header-text-div span {
  white-space: nowrap;
}

.header-text {
  /* top: 60px;
  left: 764px; */
  color: rgba(13, 15, 71, 1);
  width: auto;
  height: auto;
  position: relative;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
} 

.get-in-touch-div {
  height: 50%;
  position: relative;
  background-color: rgb(216, 190, 145);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

/* .get-in-touch-div .header-text-div {
  padding: 0px 10px;
} */

.whatsapp-logo {
  /* top: 38px;
  left: 10px; */
  width: 33px;
  height: 30px;
  position: relative;
  margin-left: 10px;
}

.ceiling-img-container {
  /* height: 100%; */
  padding-top: 25px;
  padding-bottom: 25px;

}

.ceiling-img {
  /* top: 50px; */
  /* left: 300px; */
  width: 1600px;
  position: relative;
  margin: auto;
}

.search-bar-text {
  /* top: 26px;
  left: 10px; */
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: relative;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}

.search-bar {
  /* top: 882px;
  left: 77px; */
  /* width: 100%; */
  height: 118px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-shrink: 1;
  padding: 25px 0px;
}

.search-bar-bg {
  width: 1600px;
  height: 68px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.search-button-bg {
  background-color: rgb(177, 173, 173);
  height: 60%;
  display: flex;
  align-items: center;
  top: 20px;
}

.search-section-1, .search-section-2, .search-section-3, .search-section-4 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  padding: 0px 10px;
}

.search-section-4 {
  display: flex;
  justify-content: center;
}

.search-bar-text {
  top: 9px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: relative;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}

.search-bar-text-small {
  top: 35px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: relative;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}

.search-icon {
  top: 28px;
  left: 1080px;
  width: 14px;
  height: 14px;
  position: absolute;
}

.footer {
  top: 5770px;
  left: -1px;
  width: 100%;
  height: 122px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  /* align-items: flex-start; */
  flex-shrink: 1;
  background-color: rgba(200, 175, 133, 1);
}

.left-side-footer {
  height: 100%;
  padding-left: 75px;
  display: flex;
  align-items: center;
}

.right-side-footer {
  height: 100%;
  max-width: 1700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.footer-text-bold {
  top: 21px;
  /* left: 15px; */
  color: rgba(0, 0, 0, 0.5);
  width: auto;
  height: 20px;
  position: relative;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text {
  top: 47px;
  left: -65px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 89.99999761581421%;
  font-stretch: normal;
  text-decoration: none;
}

.footer-logo {
  /* top: 46px; */
  /* left: 75px; */
  /* width: 210px; */
  height: 50px;
  position: relative;
}
.phone-icon {
  top: 33px;
  left: 5px;
  width: 16px;
  height: 16px;
  position: relative;
}
.mail-icon {
  top: 45px;
  left: 5px;
  width: 16px;
  height: 16px;
  position: relative;
}
.building-icon {
  top: -13px;
  left: 300px;
  width: 24px;
  height: 24px;
  position: relative;
}